.button {
  margin-top: 16px;
  background: var(--base-color);
  color: var(--base-color-background);
  border: none;
  font: 400 16px 'Roboto', sans-serif;
  height: 50px;
  width: 100%;
  border-radius: 8px;

  cursor: pointer;

  transition: background-color 0.2s;

  &.outline {
    background: #fff;
    color: #835afd;
    border: 1px solid #835afd;
  }

  &.outline:hover {
    color: #fff;
  }

  &:not(:disabled):hover {
    background-color: var(--base-color-hover);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
